HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/java/com/example/CarShop/AddController_BACKUP_1903.java
src/main/java/com/example/CarShop/AddController_BACKUP_1949.java
src/main/java/com/example/CarShop/AddController_BACKUP_1995.java
src/main/java/com/example/CarShop/AddController_BASE_1903.java
src/main/java/com/example/CarShop/AddController_BASE_1949.java
src/main/java/com/example/CarShop/AddController_BASE_1995.java
src/main/java/com/example/CarShop/AddController_LOCAL_1903.java
src/main/java/com/example/CarShop/AddController_LOCAL_1949.java
src/main/java/com/example/CarShop/AddController_LOCAL_1995.java
src/main/java/com/example/CarShop/AddController_REMOTE_1903.java
src/main/java/com/example/CarShop/AddController_REMOTE_1949.java
src/main/java/com/example/CarShop/AddController_REMOTE_1995.java
