body {
  background-color: #FFEB3B;
}
h1 {
    text-align: center;
    font-size: 3em;
    color: red;
    text-transform: capitalize;


}
h2{


}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  max-width: 50%;
  height: auto;
}
