<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add car</title>
</head>
<body>
    <div class="container">
    <h1>New car</h1>
    <p></p>
    <p></p>

    <form action="/save" th:object="${car}" method="POST">
        <div class="form-row col-sm-2">
                <label for="brand">Brand</label>
                <select th:field="*{brand}" class="form-control bg-light text-dark" id="brand" aria-describedby="brandHelp">
                    <option value="Audi">Audi</option>
                    <option value="BMW">BMW</option>
                    <option value="Fiat">Fiat</option>
                    <option value="Koenigsegg">Koenigsegg</option>
                    <option value="SAAB">SAAB</option>
                    <option value="Volvo">Volvo</option>
                    <option value="Skoda">Skoda</option>
                </select>
                <small id="brandHelp" class="form-text text-muted">Choose brand</small>
        </div>
        <p></p>
        <div class="form-row" >
            <div class="col-sm-2 ">
                <label for="model">Model</label>
                <input type="text" th:field="*{model}" class="form-control bg-light text-dark" id="model" aria-describedby="modelHelp">
                <small id="modelHelp" class="form-text text-muted">Model name</small>
            </div>
        </div>

        <p></p>
        <div class="form-row">
            <div class="col-sm-2">
                <label for="year">Year</label>
                <input type="text" th:field="*{year}" class="form-control bg-light text-dark" id="year" aria-describedby="yearHelp">
                <small id="yearHelp" class="form-text text-muted">Year the car was produced</small>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-2">
                <label for="miles">Miles</label>
                <input type="text" th:field="*{miles}" class="form-control bg-light text-dark" id="miles" aria-describedby="milesHelp">
                <small id="milesHelp" class="form-text text-muted">How many miles have the car run</small>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-2">
                <label for="price">Price</label>
                <input type="text" th:field="*{price}" class="form-control bg-light text-dark" id="price" aria-describedby="priceHelp">
                <small id="priceHelp" class="form-text text-muted">Price in SEK</small>
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <div class="col-sm-4">
                <label for="description">Description</label>
                <input type="text" th:field="*{description}" class="form-control bg-light text-dark" id="description" aria-placeholder="Enter a description">

            </div>
        </div>
        <p></p>
        <div class="form-group">
            <div class="col-sm-4">
                <label for="picture">Picture</label>
                <input type="text" th:field="*{pictureUrl}" class="form-control bg-light text-dark" id="picture" aria-describedby="pictureHelp">
                <small id="pictureHelp" class="form-text text-muted">Enter the url for a picture</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save car</button>
    </form>
    </div>
</body>
</html>