<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Buy car</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>

<div class="container">
<h1><p th:text="${car.slug}"></p></h1>
    <h1><p th:text="${customer.name}"></p></h1>

    <form th:action="'/finalizepurchase/' +${id}" th:object="${customer}" method="POST">

<div class="container">
    <h1>Buyer information for</h1>
    <p></p>
    <p></p>
        <div class="form-row">
            <input type="hidden" th:field="*{id}">
            <div class="form-group col-md-4">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control bg-light text-dark" id="inputEmail4" th:field="*{email}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control bg-light text-dark" id="inputPassword4" th:field="*{name}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control bg-light text-dark" id="inputAddress" th:field="*{address}">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control bg-light text-dark" id="inputAddress2" th:field="*{address2}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCountry">Country</label>
                <input type="text" class="form-control bg-light text-dark" id="inputCountry" th:field="*{country}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity">City</label>
                <select id="inputCity" class="form-control bg-light text-dark">
                    <option selected>Choose...</option>
                    <option value="Stockholm">Stockholm</option>
                    <option value="Gothenburg">Gothenburg</option>
                    <option value="Boras">Borås</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip code</label>
                <input type="text" class="form-control bg-light text-dark" id="inputZip" th:field="*{zipcode}">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">I agree to the terms and confirm my purchase</label>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary">Finalize purchase</input>
    </form>
</div>
<button type="button" class="btn btn-dark"> <a href="/carlist"/> Back</button>

</body>
</html>