<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cardetails</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                  crossorigin="anonymous">
        </head>
</head>

<body>
    <div class="container">

<div class="jumbotron">
    <h1 class="display-4"> <p th:text="${car.slug}"></p></h1>
    <button type="button" class="btn btn-outline-primary"><a th:href="'/buycar/' + ${carindex}">Buy this car</a></button>
    <button type="button" class="btn btn-outline-warning">Like this car</button>
    <button type="button" class="btn btn-outline-info"><a th:href="'/editcar/' + ${carindex}">Edit</a></button>

    <p th:text="${car.year}"></p>
    <p th:text="${car.miles}"></p>
    <p class="lead"><p th:text="${car.description}">

    <hr class="my-4">
    <img th:src="${car.pictureUrl}" width="800">
</div>

    <h2>Used Car dealers &reg</h2>
</div>
    <button type="button" class="btn btn-dark"> <a href="/carlist"/> Back</button>
</body>
</html>