<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="UTF-8">
        <title>.:oo::: THE CAR DEALERS :::oo:.</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
</head>

<body>
<h2></h2>
<div class="container">
<h1>The <i>Used Car dealers</i>&reg  famous cars...</h1>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Link</th>
        <th scope="col">Maker</th>
        <th scope="col">Model</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car,iter : ${carlist}">
        <th scope="row"> <a th:href="'/cardetails/' + ${iter.index}" >+</a></th>
        <td th:text="${car.brand}">Brand</td>
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.price}">price</td>
        <td th:text="${car.description}">Description</td>
    </tr>
    </tbody>
</table>
    <a class="btn btn-primary btn-lg" href="/addCar" role="button">Add a car</a>
<img src="https://di-uploads-pod1.dealerinspire.com/depaulachevy/uploads/2017/09/bad-used-cars-lot-1-1024x579.jpg">
<h2>Used Car dealers &reg</h2>
</div>
</body>
</html>
<!-- th:text="${iter.index}" -->

