<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Car Dealer</title>
    <link rel="stylesheet" href="start.css">
</head>
<body>

<h1>the used car dealers famous cars...</h1>
<img src="https://di-uploads-pod1.dealerinspire.com/depaulachevy/uploads/2017/09/bad-used-cars-lot-1-1024x579.jpg">

<table style="width:100%">

    <tr>
        <td><h2><a href="/carlist">See available cars</a></h2></td>
        <td><h2><a href="mailto:webmaster@example.com">Email us</a></h2></td>
    </tr>

</table>

<p>Used Car dealers ®</p>

</body>
</html>